H1 
{
    color: #9c89b8;
    font-size:60px;
    text-decoration-line: underline;
}
H2 
{
    color: #9c89b8;
    font-size:30px;
    text-decoration-line: underline;
}
body
{
    color: #9f86c0 ;
    background-color: #231942 ; 
}
